webserver_name: example.com
deploy_directory: ~/apps/example
app_name: example

rubyTmpDir: /usr/local/src
rubyUrl: http://cache.ruby-lang.org/pub/ruby/2.1/ruby-2.1.2.tar.gz
rubyCompressedFile: ruby-2.1.2.tar.gz
rubyName: ruby-2.1.2
tmpRubyPath: "{{rubyTmpDir}}/{{rubyName}}"

db_name: example_production
db_user: deployer
db_password: supersecret
